@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans");
html, body {
  width: 100%;
  height: 100%;
  font: 100% "Open Sans", "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

.modal-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal-area .career-description {
  background: white;
  width: 40%;
  height: auto;
  margin: 2% auto;
  position: relative;
  padding: 2rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7rem;
}

.modal-area .career-description h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.modal-area .career-description h3 span {
  font-size: 1rem;
}

.modal-area .career-description h4 {
  margin: 1rem 0 0.3rem 0;
}

.modal-area .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: inital;
  left: inital;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  outline: none;
  z-index: 9999;
}

.modal-area .kotra {
  margin-top: 10%;
}

#header-area {
  width: 100%;
  position: absolute;
  top: 0;
  right: inital;
  bottom: inital;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

#header-area header ul {
  overflow: auto;
  height: 4rem;
}

#header-area li {
  float: left;
}

#header-area li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 1.3rem 3rem;
}

#header-area .active {
  background: #20232A;
}

#contents-area .profile-circle {
  width: 40rem;
  height: 40rem;
  border-radius: 40rem;
  position: absolute;
  top: 10rem;
  right: inital;
  bottom: inital;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 10;
}

#contents-area .profile-circle:after {
  width: 37rem;
  height: 37rem;
  border-radius: 37rem;
  content: '';
  display: block;
  background: greenyellow;
  background: url("../img/profile.jpg") no-repeat 50% 50%;
  background-size: 37rem;
}

#contents-area .intro-box {
  width: 40rem;
  height: 30rem;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: inital;
  bottom: inital;
  left: 50rem;
  background: #20232A;
  opacity: 0;
  z-index: 9;
  padding: 2rem;
  padding-left: 8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contents-area .intro-box .intro-txt {
  color: white;
  vertical-align: bottom;
}

#contents-area .intro-box .intro-txt .name {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#contents-area .intro-box .intro-txt .job {
  text-align: center;
}

#contents-area .intro-box .intro-txt li {
  margin-top: 1rem;
  text-align: left;
  margin-left: 5rem;
}

#contents-area .intro-box .intro-txt li i {
  font-size: 1.3rem;
  vertical-align: bottom;
  width: 2rem;
  text-align: center;
}

#contents-area .intro-box .intro-txt li a {
  color: white;
}

#contents-area .intro-box .intro-txt li a:hover {
  color: yellow;
}

#contents-area .intro-box .intro-txt .simple-introduce {
  line-height: 1.7rem;
  text-align: center;
  margin: 1.5rem 0;
}

#contents-area .section2 .fp-slidesNav {
  text-align: center;
}

#contents-area .section2 .fp-slidesNav .active span {
  background: white;
}

#contents-area .section2 .fp-tableCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents-area .section2 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#contents-area .section2 .info .icon-area {
  width: 20rem;
  height: 40rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 1rem;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 10rem;
}

#contents-area .section2 .info .icon-area p {
  font-size: 3rem;
}

#contents-area .section2 .text-box {
  width: 30rem;
  height: 40rem;
  border-radius: 1rem;
  background: #20232A;
  color: white;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contents-area .section2 .text-box .list {
  margin-bottom: 0.5rem;
}

#contents-area .section2 .text-box h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

#contents-area .section2 .text-box h3 span {
  font-size: 0.8rem;
  color: #666666;
}

#contents-area .section2 .text-box table td {
  padding: 5px;
}

#contents-area .section2 .text-box table button {
  border: none;
  background: #4267B2;
  color: white;
  vertical-align: top;
  line-height: 1;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

#contents-area .section2 .text-box table button:hover {
  background: #1a459b;
}

#contents-area .section2 .text-box-slide {
  width: 70%;
  height: auto;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 1.7rem;
  z-index: 3;
}

#contents-area .section2 .text-box-slide h3 {
  margin-right: auto;
  margin-top: 1.5rem;
}

#contents-area .section2 .text-box-slide .question {
  position: absolute;
  top: -10rem;
  right: inital;
  bottom: inital;
  left: -10rem;
  font-size: 20rem;
  color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

#contents-area .section2 .text-box-slide p {
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 2.3rem;
}

#contents-area .section2 .text-box-slide p span {
  font-weight: 600;
}

#contents-area .section2 .text-box-slide p .google-color {
  color: #E34133;
}

#contents-area .section2 .text-box-slide p .facebook-color {
  color: #395693;
}

#contents-area .section2 .text-box-slide p .kakao-color {
  color: #1b7732;
}

#contents-area .section2 .text-box-slide p b {
  color: #E34133;
}
