@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Open+Sans');

// mixin
@mixin absolute($top, $right, $bottom, $left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin profileRadius($width, $height,  $radius) {
    width:$width;
    height:$height;
    border-radius: $radius;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin textBox($width, $height, $radius) {
    width: $width;
    height: $height;
    border-radius: $radius;
}

@mixin btn($bg, $border, $fontSize, $fontColor) {
    background: $bg ;
    border: $border ;
    font-size: $fontSize ;
    color:$fontColor;
    cursor:pointer;
    outline: none;
}

// 변수
$font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
$textBoxBg: #20232A;


html, body {
    width:100%;
    height:100%;
    font:100% $font-family;
}

ul {
    list-style: none;
}

.modal-area {
    @include absolute(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    
    .career-description {
        background: white;
        width:40%;
        height:auto;
        margin:2% auto;
        position: relative;
        padding:2rem 4rem;
        box-sizing: border-box;
        line-height:1.7rem;
        h3 {
            font-size:2rem;
            margin-bottom:2rem;
            span {
                font-size:1rem;
            }
        }
        h4 {
            margin:1rem 0 0.3rem 0;
        }
    }
    .close-btn {
        @include absolute(1rem, 1rem, inital, inital);
        @include btn(none, none, 2rem, white);
        z-index: 9999;
    }
    .kotra {
        margin-top:10%;
    }
}


// header
#header-area {
    width:100%;
    @include absolute(0, inital, inital, 0);
    z-index: 10;
    background:rgba(0, 0, 0, 0.5);

    header{
        ul {
            overflow: auto;
            height:4rem;
        }
    }

    li {
        float:left;
        a {
            color:white;
            text-decoration: none;
            display: block;
            padding:1.3rem 3rem;
        }
    }

    .active {
        background: $textBoxBg;
    }
}

#contents-area {
    .profile-circle {
        @include profileRadius(40rem, 40rem, 40rem);
        @include absolute(10rem, inital, inital, 0);
        @include flexCenter;
        background: rgba(255, 255, 255, 0.5);
        opacity: 0;
        z-index: 10;

        &:after {
            @include profileRadius(37rem, 37rem, 37rem);
            content:'';
            display: block;
            background: greenyellow;
            background: url("../img/profile.jpg") no-repeat 50% 50%;
            background-size: 37rem;
        }
    }

    .intro-box {
        @include profileRadius(40rem, 30rem, 1rem);
        @include absolute(0, inital, inital, 50rem);
        background: $textBoxBg;
        opacity: 0;
        z-index: 9;
        padding:2rem;
        padding-left:8rem;
        box-sizing: border-box;

        .intro-txt {
            color:white;
            vertical-align: bottom;
            .name {
                text-align: center;
                font-size:2rem;
                margin-bottom:0.5rem;
            }

            .job {
                text-align: center;
            }

            li {
                margin-top:1rem;
                text-align: left;
                margin-left:5rem;
                i {
                    font-size:1.3rem;
                    vertical-align: bottom;
                    width:2rem;
                    text-align: center;
                }
    
                a {
                    color:white;
                    &:hover {
                        color:yellow;
                    }
                }
            }

            .simple-introduce {
                line-height:1.7rem;
                text-align: center;
                margin:1.5rem 0;
            }
        }
    }

    // section2
    .section2  {
        .fp-slidesNav {
            text-align: center;
            .active span {
                background: white;
            }
        }
        .fp-tableCell {
            @include flexCenter;
        }

        .info {
            @include flexCenter;
            width:100%;
            height:100%;

            .icon-area {
                @include textBox(20rem, 40rem, 1rem);
                @include flexCenter;
                flex-direction: column;
                text-align: center;
                margin-right:1rem;
                background: rgba(255, 255, 255, 0.5);
                color:white;
                font-size:10rem;
                p {
                    font-size:3rem;
                }
            }
        }

        .text-box {
            @include textBox(30rem, 40rem, 1rem);
            background: $textBoxBg;
            color:white;
            padding:1rem;
            box-sizing: border-box;
            .list {
                margin-bottom:0.5rem;
            }
            h3 {
                font-size:1.5rem;
                border-bottom:1px solid #eeeeee;
                padding-bottom:0.5rem;
                margin-bottom:0.5rem;
                span {
                    font-size:0.8rem;
                    color:#666666;
                }
            }
            table {
                td {
                    padding:5px;
                }
                button {
                    border:none;
                    background:#4267B2;
                    color:white;
                    vertical-align: top;
                    line-height:1;
                    padding:0.5rem;
                    cursor: pointer;
                    margin-left:1rem;
                    &:hover {
                        background:rgb(26, 69, 155);
                    }
                }
            }
        }

        .text-box-slide {
            @include textBox(70%, auto, 1rem);
            @include flexCenter;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.5);
            color:black;
            padding:2rem;
            box-sizing: border-box;
            position:relative;
            font-size:1.7rem;
            z-index: 3;
            h3 {
                margin-right:auto;
                margin-top:1.5rem;
            }
            .question {
                @include absolute(-10rem, inital, inital, -10rem);
                font-size:20rem;
                color:rgba(255, 255, 255, 0.2);
                z-index: -1;
            }
            p {
                font-size:1.3rem;
                margin-top:1rem;
                line-height: 2.3rem;
                span {
                    font-weight: 600;
                }
                .google-color{
                    color:#E34133;
                }
                .facebook-color{
                    color:#395693;
                }
                .kakao-color{
                    color:rgb(27, 119, 50);
                }

                b {
                    color:#E34133;
                }
            }
        }
        
    }
}